<!--
  Generated template for the AyudaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Preguntas frecuentes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    Pregunta 1
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Pregunta 2
  </ion-card-header>
  <ion-card-content>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Pregunta 3
  </ion-card-header>
  <ion-card-content>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </ion-card-content>
</ion-card>
</ion-content>
