<ion-content class="content2">

    <div class="bg-login">
      <div class="spacer" style="width:300px;height:50px;" id="iniciarSesion-spacer2"></div>
      <div>
        <img src="img/logodummy-c.png" class="img-logo animate-in-secondary " />
      </div>
    </div>
<form id="iniciarSesion-form1" padding class="white-bg">
  <div class="spacer" style="width:300px;height:0px;" id="iniciarSesion-spacer2"></div>
  <h6 text-center>Por favor inicia sesión</h6>
  <ion-list id="iniciarSesion-list2" class="animate-in-secondary">
    <ion-item id="iniciarSesion-input1">
      <ion-input type="email" placeholder="Email" #email value="{{loginuser}}"></ion-input>
    </ion-item>
    <ion-item id="iniciarSesion-input2" class="animate-in-secondary">
      <ion-input type="password" placeholder="Password" #password value="{{loginpwd}}"></ion-input>
    </ion-item>
  </ion-list>
  <button id="iniciarSesion-button1" ion-button color="secondary" block (click)="signIn()" class="animate-in-secondary"> 
    Iniciar Sesión
  </button>
  <button id="iniciarSesion-button1" clear ion-button color="secondary" block (click)="signIn()" class="animate-in-secondary"> 
    Regístrate
  </button>
</form>
</ion-content>