page-login {
	.content{
		background-position: top center;
		background-size: cover;
		background-color: color($colors,primary) !important;
	}
	.img-logo{
		display:block;
		width:25%;
		height:auto;
		margin-left:auto;
		margin-right:auto;

	}
	.item {
    color: color($colors, primary) !important;
    font-family: 'Roboto-Regular' !important;
    background-color: color($colors,light) !important;
    border:1px solid color($colors,primary) !important;
    border-bottom:1px solid color($colors,primary) !important;
    border-top:1px solid color($colors,primary) !important;
    margin: 10px 0;
    padding: 0px 15px;

	}
	.list-ios > .item-block:last-child {
	    border-bottom: 1px solid color($colors,primary) !important;
	}
	.list-ios > .item-block:first-child {
	    border-top: 1px solid color($colors,primary) !important;
	}
	.bg-login{
		background-image: url('../img/bg1.jpg') !important;
		background-size: cover;
		background-position: top center;
		border-bottom: 5px solid color($colors, secondary);
		padding-bottom: 30px;
	}
	h6{
		font-family: 'Roboto-Thin' !important;
		color: color($colors,light) !important;
		font-size: 2rem;
		padding-bottom: 10px
	}

}
