page-perfil {
.content {
    background: #e1e1e1;
}
.date{
	color: color($colors,dark);
	.icon{
		color: color($colors,primary) !important;
		padding-right: 5px;
	}
}
.text{
	font-weight: 500;
	color: color($colors,dark);
}
.text2{
	font-weight: 100;
	color: color($colors,grey);
}
}
