<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

        <ion-item color="secondary" class="animate-in-secondary">
          <ion-avatar item-start>
            <img  [src]="user.userImage" *ngIf="user.userImage">
            <img src="img/default-avatar.png" *ngIf="!user.userImage">
          </ion-avatar>
          <h2>{{user.username}}</h2>
          <small>{{user.email}}</small>
          <ion-icon name="create" item-end color="light"></ion-icon>
        </ion-item>
        <ion-row padding>

</ion-row>
    <ion-item  class="animate-in-secondary">
    <ion-label><ion-icon padding-right name="card"></ion-icon>Método de Pago</ion-label>
    <ion-select [(ngModel)]="card" interface="popover">
      <ion-option value="nes">AMEX 2007</ion-option>
      <ion-option value="n64">Visa 7732</ion-option>
    </ion-select>
  </ion-item>
<ion-row padding class="animate-in-secondary">
  <a ion-button block color="primary" icon-end style="margin:10px 0">Nuevo Método de Pago <ion-icon name="add"></ion-icon></a>
</ion-row>
    <ion-item class="animate-in-secondary">
    <ion-label><ion-icon padding-right name="car"></ion-icon>Vehículo Principal</ion-label>
    <ion-select [(ngModel)]="auto" interface="popover">
      <ion-option value="nes">VW Jetta 2015</ion-option>
      <ion-option value="n64">Nissan Versa 2013</ion-option>
    </ion-select>
  </ion-item>
<ion-row padding class="animate-in-secondary">
  <a ion-button block color="primary" icon-end style="margin:10px 0">Nuevo Vehículo <ion-icon name="add"></ion-icon></a>
</ion-row>
</ion-content>
