<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>

    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="message-wrap">

    <div *ngFor="let msg of msgList" 
         class="message animate-in-secondary"
         [class.left]=" msg.userId === toUserId "
         [class.right]=" msg.userId === userId ">
      <img class="user-img" [src]="msg.userImgUrl" alt="" src="">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | date:'short'}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="false ?'255px' : '70px'">
  <ion-grid class="input-wrap">
    <ion-row>

      <ion-col col-11>
        <ion-textarea
                #chat_input
                placeholder="Tu mensaje"
                [(ngModel)]="editorMsg"

        ></ion-textarea>
      </ion-col>
      <ion-col col-1 item-right>
        <button ion-button clear icon-only item-right
                (click)="sendMsg()">
          <ion-icon color="primary" name="ios-send" ios="ios-send" md="md-send" item-right></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>