<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
        <ion-item>
          <ion-avatar item-start>
            <img src="img/default-avatar.png">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <p>{{item.note}}<p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="pin"></ion-icon>
            Ubicación
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
