page-mapa {
ion-content{
	background-image: none !important;
	background-color: transparent !important;
    }
#map{
	height:100%;

}
	.actioncard{
		position: absolute;
		bottom: 20px;
		.status{
			font-family: Roboto-Thin !important;
			font-size: 1.5rem;
			letter-spacing: 0px;
			text-transform: none;
			color: color($colors,light);

		}
		.statushead{
			background-color: color($colors,primary);
			padding:3px 0px 0px;
			min-height: 35px;
			}
		.service-inner{
			h3{font-weight: 700}
			table{
				width: 100%;
				font-size: 1.3rem;

			}
		}
		.light{
			color: color($colors, light);
		}
		.yellow{
			color: #FFC107;
		}
		h3{ line-height: 1 }
		ion-label { margin:5px 0 !important;}
		small{font-size: 90%}
	}

	.segment-md .segment-button {
	    border-bottom-color: rgba(0, 0, 0, 0);
	}
	.button-small{
	    height: 1.5em !important;
	    font-size: 1.2rem !important;
	    margin: 10px 0 5px 0 !important;
	}
	.feedback{
		font-size:2.7rem;
		color: color($colors,grey);
	}
}
