<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
    		</button>
  		</ion-buttons>
  		<ion-title *ngIf="status==0" class="animate-in-secondary">Solicitar servicio</ion-title>
      <ion-title *ngIf="status==1" class="animate-in-secondary">Confirmar servicio</ion-title>
      <ion-title *ngIf="status==2" class="animate-in-secondary">Servicio en curso</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>
  <ion-fab top right edge class="animate-in-secondary" *ngIf="status==2">
    <button ion-fab color="secondary"><ion-icon name="call"></ion-icon></button>
    <ion-fab-list>
      <a href="tel:+1234432" ion-fab color="secondary" ><ion-icon name="call"></ion-icon> </a>
      <button ion-fab color="secondary" (click)="chat()"><ion-icon name="text"></ion-icon> </button>
    </ion-fab-list>
  </ion-fab>
  <div #map id="map" style=""></div>

<!-- Status 0 : Solicitud Activa -->
<ion-card class="actioncard slide-in animate-in-secondary" *ngIf="status==0">
  <ion-item class="statushead">
  <h2 class="status" text-center>¿Qué tipo de servicio necesitas?</h2>
  </ion-item>
        <ion-toolbar color="light">
          <ion-segment color="light">
            <ion-segment-button (click)="itemSelected(1)">
              <ion-icon name="car"></ion-icon>
            </ion-segment-button>
            <ion-segment-button (click)="itemSelected(1)">
              <ion-icon name="build"></ion-icon>
            </ion-segment-button>
            <ion-segment-button (click)="itemSelected(1)">
              <ion-icon name="battery-dead"></ion-icon>
            </ion-segment-button>
            <ion-segment-button (click)="itemSelected(1)">
              <ion-icon name="color-fill"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
    <ion-item text-wrap>
      <h3><b>Tu ubicación:</b></h3>
      <small>Prado Norte 324 Lomas de Chapultepec V Secc</small>
    <ion-icon name="pin" item-end (click)="location()"></ion-icon>
  </ion-item> 
</ion-card>
<!-- Status 1 : Confirmación -->
<ion-card class="actioncard slide-in animate-in-secondary" *ngIf="status==1">
    <ion-item color="primary">
      <ion-avatar item-start>
        <img src="https://pbs.twimg.com/profile_images/651139349870841856/oQKVlnEI_400x400.jpg">
      </ion-avatar>
      
      <h3 class="light">Nicolás Z. <br><small>Visa terminación 4737</small></h3>
      <ion-icon name="card" item-end (click)="card()"></ion-icon>
     </ion-item>
    <ion-item text-wrap>
      <h2>Tu ubicación:</h2>
      <small>Prado Norte 324 Lomas de Chapultepec V Secc</small>
    <ion-icon name="pin" item-end (click)="location()"></ion-icon>
  </ion-item>   
  <ion-item class="service-inner">
    <ion-label><ion-icon padding-right name="car"></ion-icon>Vehículo</ion-label>
    <ion-select [(ngModel)]="auto" interface="popover">
      <ion-option value="nes">VW Jetta 2015</ion-option>
      <ion-option value="n64">Nissan Versa 2013</ion-option>
      <ion-option value="ps">+ Nuevo</ion-option>
    </ion-select>
  </ion-item>

        <button ion-button full icon-left icon-right text-center color="secondary" (click)="itemSelected(2)">
          Confirmar Servicio
        </button>
        <button ion-button clear block small icon-left icon-right text-center color="secondary" (click)="itemSelected(0)">
          Cancelar
        </button>

</ion-card>
<!-- Status 2 : Servicio en progreso -->
<ion-card class="actioncard slide-in animate-in-secondary" *ngIf="status==2">

    <ion-item color="primary">
      <ion-avatar item-start>
        <img src="img/avatar1.jpg">
      </ion-avatar>
      
      <h3 class="light">Sebastián R. <small text-right>Gruas del Norte</small></h3>
     <p><span class="thin">4.7 <ion-icon name="star" class="yellow"></ion-icon></span></p>
     </ion-item>
  <ion-item class="service-inner">
  <h2>Desglose de Servicio</h2>
  <table>
    <thead>
        <tr>
        <td>Servicio de Grúa</td>
        <td>80km</td>
        <td>{{0 | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td>Distancia adicional</td>
        <td>100-120km</td>
        <td>{{375 | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td>Arrastre Especial</td>
        <td>1</td>
        <td>{{210 | currency:'USD':true}}</td>
      </tr>
      <tr>
        <td><b></b></td>
        <td><b>Total</b></td>
        <td><b>{{585 | currency:'USD':true}}</b></td>
      </tr>
    </thead>
  </table>
  </ion-item>
  <ion-item text-center>
  <h6>¿Cómo va tu servicio?</h6>
      <ion-icon name="star" class="dark feedback yellow"></ion-icon>    
      <ion-icon name="star" class="dark feedback yellow"></ion-icon>
      <ion-icon name="star" class="dark feedback yellow"></ion-icon>    
      <ion-icon name="star" class="dark feedback yellow"></ion-icon>
      <ion-icon name="star-outline" class="dark feedback"></ion-icon>
  </ion-item>
  <button ion-button clear block small icon-left icon-right text-center color="secondary" (click)="itemSelected(0)">
    Reportar Servicio
  </button>
</ion-card>
</ion-content>
