<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tecnotrust</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="home-hello">
    <img src="img/tecnotrust_logo.png"/>

  </div>
        <ion-toolbar class="toolbar-transparent">
          <ion-segment color="primary">
            <ion-segment-button (click)="goMap()">
              <ion-icon name="map"></ion-icon>
            </ion-segment-button>
            <ion-segment-button (click)="goMembers()">
              <ion-icon name="people"></ion-icon>
            </ion-segment-button>
            <ion-segment-button (click)="goChat()">
              <ion-icon name="text"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
<ion-row padding>
  <a ion-button block outline href="tel:+123#456-789"  color="danger" icon-end class="homebutton">Emergencia <ion-icon name="warning"></ion-icon></a>
  <a ion-button block outline href="tel:+123#456-789"  color="primary" icon-end class="homebutton">Call Center <ion-icon name="call"></ion-icon></a>
</ion-row>


</ion-content>
