page-home {
.toolbar-transparent {
	.toolbar-background {
	    background-color: transparent !important;
	    border: none;
	    box-shadow: none;
	}
	ion-icon {
    font-size: 3.5rem !important;
    line-height: 6rem !important;
	}
	.segment-md .segment-button {
	    -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	    width: 0;
	    height: 6rem;
	    border-bottom-width: 2px;
	    border-bottom-style: solid;
	    border-bottom-color: rgba(0, 0, 0, 0.0);
	}
}
img{
	width: 60%;
	margin: auto;
	display: block;
	padding:40px 0 20px;
}
.card-content{
    padding: 13px 16px;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    ion-icon{
    	float: left;
    	padding-top: 3px;
    	padding-left: 10px;
    }
}
.segment-ios-primary .segment-button {
    border-color: transparent;
    color: #10698c;
}
.toolbar-ios .segment-button {
    max-width: 100px;
    height: 6rem;
    font-size: 1.2rem;
    line-height: 4rem;
}
.homebutton{
	margin:10px 5px;
}
.list-ios > .item-block:first-child {
    border-top: transparent !important;

}
}
