// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
.content{
	background: #e2e2e2;
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    	#345995, 
  secondary:  	#DC5754, 
  third:		#03CEA4, 
  danger:     	#CA1551, 
  light:      	#FDFDFE, 
  dark:       	#264653, 
  green: 		#519548,
  grey: 		#BDBDBD,
  lightgrey:	#e1e1e1,
  yellow:		#FBC02D
);

@font-face {
font-family: Roboto-Light;
src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
font-family: Roboto-Regular;
src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
font-family: Roboto-Medium;
src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
font-family: Roboto-Thin;
src: url("../assets/fonts/Roboto-Thin.ttf");
}
span {
font-family: 'Roboto-Regular' !important;
}
body,  p, ion-item, small {
font-family: 'Roboto-Light' !important;
}
ion-title, title {
font-family: 'Roboto-Thin' !important;
}
button, h1, h2, h3,b {
font-family: 'Roboto-Medium' !important;
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
