<!--
  Generated template for the ServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-buttons left>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
    		</button>
  		</ion-buttons>
  		<ion-title *ngIf="status==0" class="animate-in-secondary">Solicitar servicio</ion-title>
      <ion-title *ngIf="status==1" class="animate-in-secondary">Confirmar servicio</ion-title>
      <ion-title *ngIf="status==2&&statusarray[3].completed==false" class="animate-in-secondary">Servicio en curso</ion-title>
      <ion-title *ngIf="status==2&&statusarray[3].completed==true"  class="animate-in-secondary">Servicio Finalizado</ion-title>
      		<ion-buttons right>
			<button ion-button (click)="location()">
				<ion-icon name="pin"></ion-icon>
    		</button>
  		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
<div #map id="map" style="height:100%;"></div>
</ion-content>

<!-- Status 0 : Solicitud Activa -->
<ion-footer class="" *ngIf="status==0" padding-bottom>
    <ion-item color="primary">
      <ion-avatar item-start>
        <img src="https://pbs.twimg.com/profile_images/651139349870841856/oQKVlnEI_400x400.jpg">
      </ion-avatar>
      
      <h3 class="light">Nicolás Z. <br><small>Visa terminación 4737</small></h3>
      <ion-icon name="card" item-end (click)="card()"></ion-icon>
     </ion-item>
 	<div *ngIf="hidden">
       <ion-item class="statushead">
  			<h2 class="status">Tipo de servicio:</h2>
  		</ion-item>
		<ion-row color="dark">
			<ion-col *ngFor="let p of services">
				<button ion-button icon-only clear block color="{{p.class}}" (click)="selectService(p)">
					<ion-icon name="{{p.icon}}"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	    <ion-item class="statushead">
  			<h2 class="status">Tu ubicación</h2>
  		</ion-item>
    	<ion-item text-wrap>
      		<p>Prado Norte 324 Lomas de Chapultepec V Secc</p>
     		<ion-icon name="search" item-end (click)="location()"></ion-icon>
  		</ion-item> 
	    <ion-item class="statushead">
  			<h2 class="status">Cuéntanos qué paso:</h2>
  		</ion-item>
  		<ion-item class="service-inner">
			<ion-label color="dark">Vehículo</ion-label>
			<ion-select [(ngModel)]="auto" interface="popover">
			  <ion-option value="nes">VW Jetta 2015</ion-option>
			  <ion-option value="n64">Nissan Versa 2013</ion-option>
			  <ion-option value="ps">+ Nuevo</ion-option>
			</ion-select>
  		</ion-item>
  		<ion-item class="service-inner">
			<button ion-button block icon-left icon-right text-center color="secondary" (click)="itemSelected(2)" style="padding:15px">
				Solicitar Servicio
			</button>
		</ion-item>
	</div>
</ion-footer>
<!-- Status 2 : Servicio en progreso -->
<ion-footer class="timeline" *ngIf="status==2" padding-bottom>

    <ion-item color="primary">
    <ion-row>
    <ion-col col-2>
          <ion-avatar item-start>
        <img src="img/avatar1.jpg">
      </ion-avatar>
    </ion-col>
    <ion-col col-6> 
		<h3 class="light">Sebastián R.<br> <small text-right>Gruas del Norte</small></h3>
		<p><span class="thin">4.7 <ion-icon name="star" class="yellow"></ion-icon></span></p>
    </ion-col>
    <ion-col col-2>
    	<button ion-button large clear color="light" block>
			<ion-icon name="text"></ion-icon>
		</button>
	</ion-col>
	<ion-col col-2>
		<button ion-button large clear color="light" block>
			<ion-icon name="call"></ion-icon>
		</button>
    </ion-col>

    </ion-row>
     </ion-item>
            <ion-item class="statushead">
  <h2 class="status">Historial del Servicio</h2>
  </ion-item>
     <div *ngFor="let x of statusarray">
    <ion-item text-wrap class="fadeIn" *ngIf="x.completed==true" >
      <ion-icon name="checkmark-circle" class="third" padding-right></ion-icon>
      <span class="grey">{{x.body}}</span>
      <br>
      <ion-note item-end>
      <small>{{x.date}}</small>
      </ion-note>
    </ion-item>
    <ion-item text-wrap class="" *ngIf="x.completed==false" >
      <ion-icon name="radio-button-off" padding-right></ion-icon>
      <span *ngIf="x.current==true" class="dark bolder">{{x.body}}</span>
      <span *ngIf="x.current==false&&statusarray[3].completed==false" class="grey">{{x.body}}</span>
      <br>
      <ion-note item-end>
      <img  *ngIf="x.current==true" src="img/ellipsis.gif" style="width: 27px">
      </ion-note>
    </ion-item>
     </div>
  <ion-item text-center *ngIf="status==2&&statusarray[3].completed==false">
  <h6>¿Cómo va tu servicio?</h6>
      <ion-icon name="star" class="yellow feedback"></ion-icon>    
      <ion-icon name="star" class="yellow feedback"></ion-icon>
      <ion-icon name="star" class="yellow feedback"></ion-icon>    
      <ion-icon name="star" class="yellow feedback"></ion-icon>
      <ion-icon name="star-outline" class="grey feedback"></ion-icon>
  </ion-item>
  <ion-item text-center *ngIf="status==2&&statusarray[3].completed==true">
  <h6>Califica tu Servicio</h6>
      <ion-icon name="star" class="yellow feedback"></ion-icon>    
      <ion-icon name="star" class="yellow feedback"></ion-icon>
      <ion-icon name="star" class="yellow feedback"></ion-icon>    
      <ion-icon name="star" class="yellow feedback"></ion-icon>
      <ion-icon name="star-outline" class="grey feedback"></ion-icon>
  </ion-item>
  <ion-item text-center padding-bottom>
  <button ion-button clear block color="secondary" (click)="itemSelected(0)" style="margin-top:10px">
    Reportar Servicio
  </button>
  </ion-item>
</ion-footer>
