page-service {
         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
                        -webkit-animation-duration: 10s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
.label {
    margin: 2px !important;
}
	.feedback{
		font-size:2.7rem;
		color: color($colors,grey);
	}
		.service{
			color: color($colors,primary) !important;
		}	
		.selected{
			color: color($colors,third) !important;
		}

}
