// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{
	background-color: color($colors, primary) !important;
	
}
.third{
  color: color($colors, third) !important; 
}
.lightgrey{
  color: color($colors, lightgrey) !important; 
}
.grey{
  color: color($colors, grey) !important; 
}
.yellow{
  color: color($colors, yellow) !important; 
}
.dark{
  color: color($colors, dark) !important; 
}
.bolder{
  font-family: Roboto-Regular !important;
}
.bar-button-default{
    color: color($colors, light) !important ;
    background-color: transparent;
}
.toolbar-title {
	color: color($colors, light) !important ;
}
.content2{
    background-color: color($colors, lightgrey) !important;
}
.content3{
    background-color: color($colors, primary) !important;
}

.item-transparent{
	background-color: transparent;
	color: color($colors, light);
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-50%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes animateInSecondary{
 
  0% {
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
.slide-in{
   -webkit-animation: slideInSmooth ease-in 1; 
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 450ms;
  animation-duration: 450ms;
}
.animate-in-secondary {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}
.menu-item{
  min-height: 55px;
  font-size: 2.2rem;
  font-family: 'Roboto-Thin' !important;
}
  .item-block .item-inner {
    border-bottom: 0px solid transparent !important;
}
.list-ios > .item-block:first-child {
    border-top: 0px solid transparent !important;
}
.list-ios > .item-block:last-child {
    border-bottom: 0px solid transparent !important;
}
.color-light {color: color($colors,light) !important;}
.color-primary {color: color($colors,primary) !important;}
.color-secondary {color: color($colors,secondary) !important;}
.color-third {color: color($colors,third) !important;}
.color-danger {color: color($colors,danger) !important;}
.img-icon{
  width: 20%;
  margin:auto;
  display: block;
  padding:25px 0
}
  .bg-login{
    background-image: url('../img/bg1.jpg') !important;
    background-size: cover;
    background-position: 0px 10px 0px 5px;
    border-bottom: 5px solid color($colors, secondary);
    padding-bottom: 10px;
  }