<ion-menu [content]="content">
  <ion-content class="content3">
  <div class="bg-login ">
    <ion-title><img src="img/logodummy-c.png" class="img-icon animate-in-secondary" /></ion-title>
  </div>
    <ion-list>
        <ion-item color="primary">
      <ion-avatar item-start  (click)="goPerfil()" menuClose>
        <img src="https://pbs.twimg.com/profile_images/651139349870841856/oQKVlnEI_400x400.jpg">
      </ion-avatar>
      
      <h3 class="light" (click)="goPerfil()" menuClose>Nicolás Z. <br><small>Visa terminación 4737</small></h3>
      <ion-icon name="card" item-end></ion-icon>
     </ion-item>
      <button class="item-transparent menu-item" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <ion-icon name="{{p.icon}}" item-start></ion-icon>
        {{p.title}}
      </button>
      <button class="item-transparent menu-item" menuClose ion-item (click)="logOut()">
      <ion-icon name="exit" item-start></ion-icon>
        Salir
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>