<!--
  Generated template for the MiembrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servicios Pasados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-row padding class="animate-in-secondary">
  <a ion-button block (click)="mapa()" color="primary" icon-end style="margin:10px 0">Nuevo <ion-icon name="add"></ion-icon></a>
</ion-row>
  <ion-list>
    <ion-item-sliding *ngFor="let x of items" class="animate-in-secondary">
      <ion-item>
        <ion-avatar item-start>
          <img  [src]="x.userImage" *ngIf="x.userImage">
          <img src="img/default-avatar.png" *ngIf="!x.userImage">
        </ion-avatar>
        <ion-label>
          {{x.username}}
          <br>
          <small>{{x.date | date:'short'}}</small>
        </ion-label>
        <div item-content text-center>
        <small>{{x.amount | currency:'USD':true}}</small><br>
          <small><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></small>
          <h4 text-right *ngIf="x.status ==='Cancelado'" class="color-danger">{{x.status}}</h4>
          <h4 text-right *ngIf="x.status ==='Completo'" class="color-third">{{x.status}}</h4>
        </div>  
      </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="reportar()">
            <ion-icon name="alert"></ion-icon>
            Reportar
          </button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
