<!--
  Generated template for the TelefonosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<ion-buttons left>
	<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	</ion-buttons>
    <ion-title>Afiliaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-row padding class="animate-in-secondary">
  <a ion-button block (click)="add()" color="primary" icon-end style="margin:10px 0">Nuevo <ion-icon name="add"></ion-icon></a>
</ion-row>
  <ion-list>
        <ion-item *ngFor="let item of items" class="animate-in-secondary">
            <ion-avatar item-start>
              <img  [src]="item.img" *ngIf="item.img">
              <img src="img/default-avatar.png" *ngIf="!item.img">
            </ion-avatar>
            <h2>{{item.username}}</h2>
            <small>{{item.relacion}} - {{item.date}}</small> 
            <ion-icon name="refresh" item-end color="primary"></ion-icon>
        </ion-item>
  </ion-list>
</ion-content>
