<ion-header>
  <ion-navbar color="primary">
    <ion-title>Noticias</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
	<ion-card>
	    <ion-card-content>
	    	<h2 style="font-size: 135%; font-weight: 700; text-transform: uppercase;">{{ post.title }}</h2>
	    	<img src="../assets/img/news-default.jpg">
	      <div [innerHTML]="post.content" padding></div>
	      <span class="dateblue post-date">publicado el {{post.date | date:'EEEE dd-MM-yy'}}</span>
	    </ion-card-content>
	</ion-card>
</ion-content>